*{
    color: white;
    font-size: 1.05em;
    font-family: 'Teko', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    padding: 10px;
    background-color: #b96e39;
    box-shadow: 0 0 20px 1px black;
}
.header{
    display: flex;
    justify-content: space-evenly;
    border: solid 3px #FFDEAD;
    border-bottom: transparent;
}
.monthDays{
    border: solid 3px #FFDEAD;
    width: 30vw;
    height: 50vh;
    text-align: center;
}

.week{
    display: grid;
    grid-template-columns: 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28%;
    border-bottom: solid 3px #FFDEAD;
}
.daysWeek{
    margin: 1px;
    background-color: #8B4513;
}
.days{
    display: grid;
    height: 92%;
    grid-template-columns: 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28%;
    grid-template-rows: 20% 20% 20% 20% 20%; 
    margin: 0 2px 5px 2px;
    padding-bottom: 50px;
}
.daysNumber{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
    background-color: #8B4513;
}
.dom{
    color: rgb(255, 0, 0);
}
.today{
    background-color: wheat;
    color: #8B4513;
    border: #8B4513 2px solid;
}
.today:hover{
    background-color: #bca986;
    cursor: pointer;
}
